@import "styles/index";

.form {}

.control {
    margin-top: 3px;
    margin-bottom: 12px;
}

.save,
.change {
    width: auto !important;
    font-size: 11px !important;
}

.change {
    margin-top: 15px;
}