@import "styles/index";

.root {
    display: flex;
    min-height: 100%;
    position: relative;
    flex-direction: column;

    main {
        flex: 1;
    }

    section {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
        min-height: 100vh;
    }
}

.container {
    @include container;
}