// breakepoints
$MdDesktopWidth: 1200px;
$SmDesktopWidth: 992px;
$TabletWidth: 768px;
$PhoneWidth: 576px;
$MPhoneWidth: 375px;
$SmPhoneWidth: 320px;


// Colors
$white: #FFFFFF;
$black: #000000;
$main-color: #7091ff;
$secondary-color: #6c93ff;
$third-color: #887aff;